.app {
  width: 100vw;
  background-color: #1F2833;
  overflow: hidden;
}

.app::-webkit-scrollbar {
  width: 20px;
}

.app::-webkit-scrollbar-track {
  background-color: transparent;
}

.app::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.app::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}